@charset "utf-8";
/* NHN Technology Services UIT Development Center */

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25em;font-family:Helvetica,sans-serif}
body{position:relative;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
table{border-collapse:collapse}
hr{display:none !important}
.blind,#u_skip{overflow:hidden;position:absolute;left:-999em;width:1px;height:1px;font-size:0;line-height:0}
#content{clear:both;width:100%;}
#content::after{display:block;clear:both;height:1px;margin-top:-1px;content:''}